.wave1 {
  position: absolute;
  top: 0px;
  right: -16px;
  rotate: 0grad;
  width: 100%;
  height: 100px; /* Ajusta el tamaño del área de la onda */
  z-index: 0;
  overflow: hidden;
}

.wave1 > svg {
  position: absolute;
  top: -20px; /* Ajusta la posición vertical de la onda */
  right: 0;
}