.header-bg {
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.199) 100%
    ),
    url("../../assets/img/bg-home.jpg");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
}

/* .container-header {
  position: relative;
  top: 150px;
} */